@using Microsoft.AspNetCore.Mvc

@using Google.Apis.Auth.AspNetCore3
@using Google.Apis.Auth.OAuth2
@using Google.Apis.Drive.v3
@using Google.Apis.Services

@page "/"

@attribute [GoogleScopedAuthorize(DriveService.ScopeConstants.DriveReadonly)]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    [Inject]
    private IGoogleAuthProvider? auth { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        if (auth == null)
        {
            Console.WriteLine("Auth is null. ");
            goto End;
        }
        
        try 
        {
            GoogleCredential cred = await auth.GetCredentialAsync();
            if (cred == null)
            {
                Console.WriteLine("Cred is null. ");
                goto End;
            }
            var service = new DriveService(new BaseClientService.Initializer
            {
                HttpClientInitializer = cred
            });
            var files = await service.Files.List().ExecuteAsync();
            var fileNames = files.Files.Select(x => x.Name).ToList();
            Console.WriteLine($"Found `{fileNames.Count()}` files. ");
            foreach (string fileName in fileNames)
            {
                Console.WriteLine(fileName);
            }
        }
        catch (Exception ex) 
        {
            Console.WriteLine($"Error encountered: {ex.Message}");
        }

        End:
        await base.OnParametersSetAsync();
    }
}
